.banner{
	margin-top: 83px;
}
.banner .aaaspan{ 
	display: block;
	width: 40px;
	height: 10px;
	background: red;
	float: left;
	margin-right: 20px;
}
#swiper1 img{
	width: 100%;
}
#swiper1 .swiper-pagination-custom{
	bottom: 50px;
}
#swiper1 .item{
	display:inline-block;
	width:50px;
	height:3px;
	background:#FFFFFF;
	margin:0 10px;
	transition: all .5s;
	cursor: pointer;
}
#swiper1 .cur{
	background:#e50065;
}
.bannerBtomList{
	background: #fbfbfb;
	padding: 37px 0 27px 0;
}
.bannerBtomList p{
	color: #999999;
	margin-top: 10px;
	text-align: center;
}
.bannerBtomList .center1 div{
	float: left;
	width: 20%;
	cursor: pointer;
	text-align: center;
}
.bannerBtomList .center1 img{
	display: inline-block;
	width: 87px;
	height: 54px;
}
.bannerBtomList .center1 .img2{
	display: none;
	margin: auto;
}
.bannerBtomItem{
	height: 408px;
	text-align: center;
	overflow: hidden;
}
.bannerBtomItem .row,#swiper3{
	display: none;
}
.bannerBtomItem p{
	font-size: 18px;
	color: #e50065;
	font-weight: bold;
}
.bannerBtomItem img{
	width: 469px;
	height: 333px;
	transition: all .5s;
}
.bannerBtomItem img:hover{
	transform: translate(35px,0);
}
.bannerBtomItem .jt-1,.bannerBtomItem .jt-2{
	width: 55px;
	height: 55px;
	transition: all .5s;
}
.bannerBtomItem .jt-1{
	background: url(../img/jt_2l.png) no-repeat;
}
.bannerBtomItem .jt-1:hover{
	background: url(../img/jt_2l_h.png);
}
.bannerBtomItem .jt-2{
	background: url(../img/jt_2r.png) no-repeat;
}
.bannerBtomItem .jt-2:hover{
	background: url(../img/jt_2r_h.png);
}
.bannerBtomItem .row{
	padding: 0 55px;
}
.itemBottom{
	color: #FFFFFF;
}
.itemBottom .row{
	margin: 0;
}
.itemBottom h1{
	font-size: 40px;
	color: #FFFFFF;
	text-shadow: 2px 7px 0 rgba(0,0,0,0.12);
	font-weight: bold;
}
.itemBottom p{
	font-size: 15px;
	line-height: 30px;
	width: 100%;
	overflow: hidden;
}
.itemBottom span{
	display: block;
	color: #FFFFFF;
	width: 141px;
	height: 45px;
	line-height: 41px;
	border:  2px solid #FFFFFF;
	text-align: center;
	border-radius: 5px;
	margin-top: 40px;
	cursor: pointer;
	transition: all .3s;
}
.itemBottom span:hover{
	margin: 30px 0 0 -10px;
}
.itemBottom .itemBottom1,.itemBottom .itemBottom2{
	background: rgba(229,0,101,0.8);
}
.itemBottom .itemBottom1 .left1pic{
	padding: 60px 50px;
	background: url(../img/bg_1.jpg) no-repeat;
	background-size: cover;
	position: relative;
}
.itemBottom .itemBottom1 .left1pic .video{
	display: none;
	cursor: pointer;
}
.itemBottom .itemBottom1 .left1pic .video video{
	width: 100%;
	cursor: pointer;
}
.itemBottom .itemBottom1 .left1pic img{
	width: 100%;
}
.itemBottom .itemBottom1 .left1pic .play{
	width: 40px;
	height: 47px;
	cursor: pointer;
	position: absolute;
	top: 50%;
	left: 50%;
	margin:  -23.5px 0 0 -20px;
}
.itemBottom .itemBottom1 .left1pic .play img{
	width: 100%;
}
.itemBottom .itemBottom1 .text{
	padding: 3% 50px 0 50px;
}
.itemBottom .itemBottom1 .pic img{
	width: 61px;
	height: 7px;
	margin: 20px 0 30px 0;
}
.itemBottom .itemBottom2 .text{
	padding: 110px 50px 20px 80px;
}
.itemBottom .itemBottom2 .right2{
	background: url(../img/bg_2.jpg) no-repeat;
	background-size: cover;
	padding: 100px 0;
}
.itemBottom .itemBottom2 .item{
	width: 234px;
	margin: 0 auto;
}
.itemBottom .itemBottom2 .item .item1{
	overflow: hidden;
}
.itemBottom .itemBottom2 .item img{
	width: 100%;
	cursor: pointer;
	transition: all .5s;
}
.itemBottom .itemBottom2 .item img:hover{
	transform:scale(1.1);
}
.itemBottom .itemBottom2 .item h4{
	margin-top: 40px;
	width: 234px;
	font-size: 14px;
	color: #e50065;
	overflow: hidden;
	white-space: nowrap;
    text-overflow: ellipsis;
	font-weight: bold;
	cursor: pointer;
}
.itemBottom .itemBottom2 .item1 .pic{
	width: 35px;
	height: 1px;
}
.itemBottom .itemBottom2 .item p{
	color: #000000;
}
.itemBottom .itemBottom2 .item i{
	font-size: 12px;
	color: #999;
}
